#input-form {
    border-color: aqua;
    flex-direction: column;
    align-items: center;
}

.form-field {
    border-color: orange;
    padding: 4rem 8rem;
}

h2 {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 2em;
}

input {
    height: 2rem;
    width: 25rem;
    letter-spacing: .1rem;
    padding-left: .5rem;
}

button {
    width: 10rem;
}

button:hover {
    cursor: pointer;
}