#top-nav {
    border-color: red;
    
    justify-content: flex-end;
    padding-right: 2rem;
}

li {
    list-style: none;
    text-decoration: underline;
    display: inline-block;
    margin: 1rem;
}

li:hover {
    cursor: pointer;
    color: rgb(97, 27, 161);    
}

